@font-face {
    font-family: "KaiselDecol-Regular";
    src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}

.Head-contain-mypage{
    background-color: #E7EFF5;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}


.Head-contain{
    background-color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    z-index: 1;

}

.LIKELION a{
    font-size:25px;
    color: #FFFFFF;
    font-family: 'KaiseiDecol-Regular';
    text-decoration: none;
}

.LIKELION a.active {
    color: black; /* 현재 페이지일 때 글자 색 변경 */
    font-weight: bold;
  }


.menu {
    display:flex;
    gap:16px;
    
}

.menu a{
    font-size:25px;
    color: #FFFFFF;
    font-family: 'KaiseiDecol-Regular';
    text-decoration: none;
}

.menu a.active {
    color: black; /* 현재 페이지일 때 글자 색 변경 */
    font-weight: bold;
  }