@font-face {
    font-family: 'KaiseiDecol-Regular';
    src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");  
}

@font-face {
    font-family: "NanumMyeongjo";
    src: url("../../public/font/NanumMyeongjo-Regular.ttf") format("truetype");
}



/**/
.home-container{
    width: 100%;
}

/* Menu */
.menu-container{
    display: flex;
    width: 100%;
    font-family: 'KaiseiDecol-Regular';
}

.menu-section{
    display: flex;
    width: 50%;
    position: relative;
}

/*가상박스만들기*/
.menu-section::before{
    content: ' ';
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    border: 2px solid white;
}

.menu-perfume{
   width: 100%;
   display: block;
}

.text-overlay{
    position: absolute;
    color: white;
    font-size: 48px;
}

.text-perfume{
    left: 28px;
    bottom: 28px;
}

.text-diffuser{
    right: 28px;
    bottom: 28px;
}

/* Banner */
.banner-container{
    width:100%;
}

.Info-container{
    display: flex;
    padding: 30px;
}

.left-box{
    display: flex;
    width: 48%;
    padding: 30px;
    position: relative;  
}

.image-area{
    width: 100%;            
}

.text{
    position: absolute;
    bottom: 0;
    right: 0;
    writing-mode: vertical-rl;
    font-size: 80px;
    padding: 20px;
    font-family: 'KaiseiDecol-Regular';
    
  }

.right-box {
    width: 45%;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.text2{
    font-size: 55px;
    font-family: "NanumMyeongjo";
    width: 100%;
    
   
}


  .text3{
    font-family: "NanumMyeongjo";
    font-size: 18px;
    width: 100%; 
    margin-top: 50px;
  }

